/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */


/*
   
   Table Of Content
   
   1. Global Style
   2. Preloader
   3. Menu
   4. About Me (Left Sidebar)
   5. About Me Page
   6. My Portfolio
   7. Owl Carousel Navigation
   8. Contact Me
   9. Testimonials
  10. Blog Post & Single Blog Page
  11. Video Tutorials
  12. Blockquote
  13. List
  14. Image Popup
  15. End Box (Popup When Scroll Down)
  16. About Author Box
  17. You May Also Like
  18. Comment
  19. Load More Button
  20. Subscribe Form
  21. Footer
  22. Socials Icons
  23. Syntax Highlighter
  24. Scroll To Top
  25. Responsive
  26. Useful Classes ( Such as : Margin, Padding, colors  "This classes will be helpful for you during designing/development time.")
  27. UiPasta Credit
 

*/

/* Global Style */

select.form-control {
    border: 1px solid #666 !important;
    background: #ffffff !important;
}

.form-control:disabled {
    border: 1px solid #ced4da;
    box-shadow: none;
}

input[type=file].form-control {
    border: 1px solid #666 !important;
    background-color: transparent;
}

input[type=file].form-control::file-selector-button {
    background-color: transparent;
    padding-bottom: 18px;
}

label {
    line-height: 2 !important;
}

.page-body {
    background: #ffffff;
    border: 1px solid #dadbdd;
}

.sub-title {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: 1px dashed #dedede;
}

.sub-title a {
    text-decoration: none;
}

.sub-title h2 {
    display: inline-block;
    font-size: 25px;
    letter-spacing: 0.5px;
    font-weight: 600;

}

.sub-title .dashicons {
    font-size: 35px;
    width: auto;
}

.content-page {
    padding-top: 30px;
}

.grabbing {
    cursor: url(../images/owl-carousel/grabbing.png) 8 8, move;
}

.button {
    border: none;
    font-family: inherit;
    font-size: 16px;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 10px 60px;
    padding-left: 0px;
    display: inline-block;
    margin: 8px 30px;
    margin-left: 5px;
    letter-spacing: 1px;
    font-weight: 600;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.button:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.button:before {
    font-family: 'FontAwesome';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    position: relative;
    -webkit-font-smoothing: antialiased;
}

.button-style {
    color: #1abc9c;
    overflow: hidden;
}

.button-style:before {
    position: absolute;
    font-size: 27px;
    line-height: 38px;
    color: #1abc9c;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.button-style:active:before {
    color: #1abc9c;
}

.button-anim:before {
    left: 60%;
    opacity: 0;
    top: 0;
}

.button-anim:hover:before {
    left: 75%;
    opacity: 1;
}



/* Preloader */

.preloader {
    background: #ffffff;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99999;
}

.rounder {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -26px 0 0 -26px;
    font-size: 10px;
    border-right: 5px solid #333333;
    border-left: 5px solid #1abc9c;
    border-radius: 50%;
    -webkit-animation: spinner 700ms infinite linear;
    animation: spinner 700ms infinite linear;
    z-index: 10000;
}

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}



/* Menu */

.menu {
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 20px;
    color: #fff;
    background: #1abc9c;
    padding: 12px;
}

.menu-link {
    list-style: none;
    padding: 5px;
    margin: 0;
    text-align: center;
}

.menu-link:before,
.menu-link:after {
    content: " ";
    display: table;
}

.menu-link:after {
    clear: both;
}

.menu-link li {
    display: inline-block;
    margin: 2px 4px;
}

.menu-link li a {
    display: block;
    color: #333333;
    text-align: center;
    font-size: 13px;
    transition: all 0.3s ease-in-out;
}

.menu-link li a:hover {
    color: #FF6C54;
}



/* About Me (Left Sidebar) */

.about-fixed {
    position: fixed;
    width: 20.8%;
}

.my-pic {
    width: 100%;
    border: 1px solid #dadbdd;
    border-bottom: 0;
}

.my-pic img {
    width: 100%;
}

.my-detail {
    margin-bottom: 30px;
    background: #ffffff;
    padding: 10px;
    border: 1px solid #dadbdd;
}

.my-detail .white-spacing {
    padding: 10px 0;
}

.my-detail h1 {
    font-size: 20px;
    font-weight: 700;
    margin-block-end: 0;
}

.my-detail span {
    color: rgb(98, 100, 106);
    font-weight: 400;
    line-height: 30px;
    font-size: 16px;
}



/* About Me Page */

.knowledge {
    list-style: none;
    padding: 2px;
    margin: 0;
    padding-left: 0px;
}

.knowledge:before,
.knowledge:after {
    content: " ";
    display: table;
}

.knowledge:after {
    clear: both;
}

.knowledge li {
    display: inline-block;
    color: #ffffff;
    margin: 4px 4px;
    padding: 10px 20px;
    font-size: 12px;
    letter-spacing: 0.6px;
    margin-left: 0px;
    border-radius: 4px;
    cursor: default;
}



/* My Portfolio */

div.portfolio {
    display: none;
    margin-bottom: 50px;
}

.portfolio img {
    width: 100%;
}

.custom-pad-1 {
    padding-right: 0px;
}

.custom-pad-2 {
    padding-left: 0px;
}

.table {
    margin-bottom: 0px;
}

.table>tbody>tr>td {
    padding: 15px;
    line-height: 25px;
    letter-spacing: 0.6px;
    border: 1px solid #e4e4e4;
}

.table tr>td {
    padding: 11px 13px;
}

tr:nth-child(1)>td {
    border-top: 0px;
}

tr>td:nth-child(1) {
    background-color: #ffffff;
    font-weight: 500;
    font-size: 13px;
    color: #888888;
    width: 140px;
}

tr>td:nth-child(2) {
    font-weight: 400;
}



/* Owl Carousel Navigation */

.owl-navi {
    color: #333333;
}

.owl-theme .owl-controls .owl-buttons div {
    display: inline-block;
    zoom: 1;
    margin: 5px;
    margin-top: -32px;
    padding: 7px 13px;
    background-color: transparent;
    opacity: 1;
}

.owl-theme .owl-controls {
    margin-top: 0px;
}

.owl-prev,
.owl-next {
    position: absolute;
    top: 50%;
    padding: 5px;
    margin: 0;
    z-index: 100;
    cursor: pointer;
}

.owl-prev {
    left: 2px;
}

.owl-next {
    right: 2px;
}



/* Contact Me */

.contact-us-detail {
    margin-top: 10px;
}

.contact-us-detail i {
    font-size: 30px;
    line-height: 50px;
}

.contact-us-detail a {
    color: #333333;
}

.contact-us-detail a:hover {
    color: #333333;
}

.form-group {
    margin-bottom: 25px;
}

.form-control {
    border: 2px solid transparent;
    min-height: 50px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    -ms-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    -o-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    -webkit-transition: all 150ms ease-in-out 0s;
    -moz-transition: all 150ms ease-in-out 0s;
    -ms-transition: all 150ms ease-in-out 0s;
    -o-transition: all 150ms ease-in-out 0s;
    transition: all 150ms ease-in-out 0s;
}

.form-control:focus {
    border-color: #171717;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}

.form-control:focus {
    border-color: #1abc9c;
    border-width: 2px;
}



/* Testimonials */

.testimonial-content {
    background: #333333;
    padding: 20px 30px;
    position: relative;
    margin-top: 40px;
}

.testimonial-content:after {
    content: "";
    bottom: -15px;
    left: 60px;
    position: absolute;
    width: 0;
    height: 0;
    border-top: 15px solid #333333;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

.testimonial-content p {
    color: #ffffff !important;
    font-size: 13px !important;
}

.testimonial-client img {
    border: 1px dashed #333333;
    border-radius: 50%;
    width: 90px;
}

.client-thumb,
.client-text {
    display: inline-block;
    vertical-align: middle;
}

.client-thumb {
    margin-right: 15px;
}

.testimonial-client-info {
    padding-left: 30px;
    margin-top: 30px;
}

.client-name {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 3px;
}



/* Blog Post & Single Blog Page */

div.blog-post {
    display: none;
    margin-bottom: 50px;
}

.blog-post .post-image img {
    width: 100%;
}

.blog-post .post-image p {
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
}

.blog-post .post-image a {
    font-weight: 600;
}

.blog-post .post-title h1 {
    color: #333333;
    font-size: 35px;
    line-height: 45px;
    font-weight: 700;
    margin-top: 24px;
}

.blog-post .post-title h2 {
    font-size: 25px;
    line-height: 35px;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.blog-post .post-info {
    font-size: 14px;
    line-height: 30px;
    font-weight: 500;
    padding: 10px 0;
    color: #8c8c8c;
}

.blog-post p {
    font-size: 16px;
    line-height: 30px;
    color: #696868;
    font-weight: 300;
    letter-spacing: 0.8px;
    font-family: "Poppins", sans-serif;
}


/* Blockquote */

.post-quote {
    background: #1abc9c;
    color: #f6f8f8;
    width: 70%;
    border-radius: 50px;
    margin: 0 auto;
    text-align: center;
}

.post-quote blockquote {
    margin: 0;
    padding: 40px;
    font-style: italic;
    font-size: 15px;
    line-height: 30px;
    border: 0;
}

.post-quote blockquote:after {
    content: '\f10e';
    font-family: 'fontawesome';
    display: inline-block;
    float: right;
    color: #333333;
    font-size: 35px;
    position: relative;
    right: 0px;
    top: -15px;
    font-style: normal;
    opacity: .2;
}

blockquote {
    font-style: italic;
    border-left: 5px solid #1abc9c;
}



/* List */

.list ul {
    margin-top: 15px;
}

.list li {
    font-size: 18px;
    color: #333333;
    font-weight: 400;
    margin-bottom: 10px;
}

.list-style li {
    list-style-type: decimal;
}

.list-style-2 li {
    list-style-type: circle;
}


/* About Author Box */

.about-author {
    background: #fafafa;
    width: 100%;
    padding: 35px 25px;
    box-shadow: 0px 1px 2px 0px rgba(78, 78, 78, 0.45);
}

.about-author .picture {
    float: left;
    height: 75px;
    width: 75px;
    overflow: hidden;
    border-radius: 100%;
    background-color: #333333;
}

.about-author .c-padding {
    padding: 0px 0px 0px 100px;
}

.about-author h3 {
    font-size: 20px;
    line-height: 30px;
    margin: 0px 0px 10px 0px;
}

/* Syntax Highlighter */

.syntaxhighlighter {
    overflow: hidden;
}

.syntaxhighlighter .toolbar .item.printSource {
    display: none !important;
}

/* Social Icons */

.my-detail-footer {
    list-style: none;
    padding: 10px;
    margin: 0;
    text-align: center;
  }
  
  .my-detail-footer:before,
  .my-detail-footer:after {
    content: " ";
    display: table;
  }
  
  .my-detail-footer:after {
    clear: both;
  }
  
  .my-detail-footer li {
    display: inline-block;
    margin: 2px 4px;
  }
  
  .my-detail-footer li a {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 42px;
    color: #fff;
    text-align: center;
    border: 0 none;
    border-radius: 50%;
    font-size: 17px;
    box-shadow: 0px 1px 2px 0px rgba(90, 91, 95, 0.15);
    transition: all 0.3s ease-in-out;
  }
  
  .my-detail-footer li a:hover {
     box-shadow: 0px 8px 15px 0px rgba(90, 91, 95, 0.33);
  }
  
/* Responsive */

@media only screen and (max-width: 1199px) {
    .endpage-box {
        display: none !important;
    }
}


@media only screen and (min-width: 992px) and (max-width: 1199px) {

    #menu .menu-link li {
        margin: 2px 3px;
    }

    .my-detail h1 {
        font-size: 18px;
        font-weight: 600;
    }

    .my-detail span {
        font-size: 15px;
        line-height: 29px;
    }

    .social-icon li a {
        width: 30px;
        height: 30px;
        line-height: 33px;
        font-size: 13px;
    }

    .social-icon li {
        margin: 2px 2px;
    }

    .post-quote {
        width: 90%;
    }

    .subscribe-form .text-input {
        font-size: 14px;
    }

    .subscribe-form .submit-btn {
        font-size: 14px;
        width: 100px;
    }
}


@media only screen and (max-width: 991px) {

    .about-fixed {
        position: inherit;
        width: auto;
    }

    .post-quote {
        width: 90%;
    }
}



@media only screen and (max-width: 767px) {

    .video-tutorial {
        width: 100%;
    }

    .custom-pad-1 {
        padding-right: 15px;
    }

    .custom-pad-2 {
        padding-left: 15px;
    }
}


@media only screen and (max-width: 570px) {

    .subscribe-form .text-input {
        font-size: 12px;
    }

    .subscribe-form .submit-btn {
        font-size: 13px;
        width: 90px;
    }
}


@media only screen and (max-width:479px) {

    #main {
        margin: 15px 0;
    }

    .sub-title {
        border-bottom: 1px dashed #cccccc;
        padding: 30px;
        display: inline-block;
        text-align: left;
        width: 100%;
    }
}


@media only screen and (max-width:435px) {

    b {
        font-weight: 500;
    }

    .my-detail h1 {
        font-size: 18px;
        font-weight: 600;
    }

    .my-detail span {
        font-size: 15px;
        line-height: 29px;
    }

    .blog-post .post-title h1 {
        font-size: 22px;
        line-height: 32px;
        font-weight: 600;
    }

    .blog-post .post-title h2 {
        font-size: 18px;
        line-height: 28px;
        font-weight: 500;
    }

    .blog-post .post-info {
        font-size: 13px;
        line-height: 29px;
        font-weight: 400;
    }

    .blog-post p {
        font-size: 14px;
        line-height: 28px;
        font-weight: 400;
    }

    .sub-title h2 {
        font-size: 20px;
        font-weight: 600;
    }

    .sub-title i {
        font-size: 25px;
        margin-top: 15px;
    }

    .blog-post .post-image p {
        font-size: 12px;
    }

    .video-box {
        width: 100%;
    }

    .video-tutorial .video-popup:after {
        font-size: 30px;
    }

    .video-tutorial:hover .video-popup:after {
        font-size: 45px;
    }

    .video-box p {
        font-size: 12px;
        line-height: 24px;
    }

    .post-quote {
        width: 100%;
    }

    .post-quote blockquote {
        padding: 40px 15px;
    }

    .list li {
        font-size: 14px;
    }

    .about-author .picture {
        float: none;
    }

    .about-author .c-padding {
        padding: 30px 0px;
    }

    .you-may-also-like h3 {
        font-size: 18px;
        line-height: 28px;
    }

    .comment h3 {
        font-size: 18px;
        line-height: 28px;
    }

    .social-icon li a {
        width: 30px;
        height: 30px;
        line-height: 32px;
        font-size: 14px;
    }

    .load-more-button {
        width: 70px;
        height: 70px;
        line-height: 70px;
        font-size: 12px;
    }

    .end {
        width: 70px;
        height: 70px;
        line-height: 70px;
        font-size: 12px;
    }

    .button {
        font-size: 13px;
        padding: 10px 0px;
        font-weight: 500;
    }

    .button-style:before {
        display: none;
    }

    #mc-form {
        padding: 50px 0px;
    }

    .subscribe-form .text-input {
        font-size: 11px;
    }

    .subscribe-form .submit-btn {
        font-size: 12px;
        width: 80px;
        position: inherit;
        padding: 12px;
        margin-bottom: 5px;
    }

    footer .menu-link a {
        margin: 4px 3px;
    }

    .scroll-to-top {
        font-size: 25px;
    }
}

/* UiPasta Credit */

.uipasta-credit {
    color: #333333;
    text-align: center;
    margin-top: 20px;
}

.uipasta-credit a {
    color: #1abc9c;
    font-weight: 600;
}

.uipasta-credit a:hover {
    color: #333333;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1140px;
}

@media (max-width:767px) {
    .container {
        max-width: 767px
    }
}

@media (max-width:1024px) {
    .container {
        max-width: 1024px
    }
}

.btn-secondary {
    background-color: #6c757d !important;
    color: #FFF !important;
    border-radius: 5px;
    border-color: white !important;
}

.btn-outline-secondary {
    color: #6c757d;
    border-radius: 5px;
    border: 1px solid #6c757d !important;
}

.btn-outline-secondary:hover {
    background-color: #6c757d;
    color: #fff;
}

.btn-dashed-outline-secondary {
    border: 1px dashed #6c757d !important;
}

.btn-close:hover, .btn-close {
    padding: 1rem !important;
    border: none !important;
    background-color: transparent !important;
}

.btn-primary {
    background-color: #FF6C54 !important;
    color: #FFF !important;
    border-radius: 5px;
    border-color: white !important;
}

.btn-outline-primary {
    color: #FF6C54;
    border-radius: 5px;
    border: 1px solid #FF6C54 !important;
}

.btn-outline-primary:hover {
    background-color: #FF6C54;
    color: #fff;
}

.btn-dashed-outline-primary {
    border: 1px dashed #FF6C54 !important;
}

.ck-editor__editable[role="textbox"] {
    min-height: 300px;
}

.my-detail .list-group {
    text-align: left;
    border-radius: 0;
}

.my-detail .list-group .list-group-item {
    border: 0;
    background-color: inherit !important;
    padding: 0.3rem 1rem;
    color: rgb(98, 100, 106);
}

.btn-circle {
    line-height: 0.1em;
    border-radius: 50%;
    height: 0;
    padding-top: 35px;
    padding-bottom: 35px;
    width: 70px;
}

.bg-pattern {
    background: url(/wp-content/plugins/autopublicate/public/img/pattern-bg.png);
    background-repeat: repeat;
    text-align: center;
    padding: 30px 0;
}

.bg-primary {
    background-color: #FF6C54 !important;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  }
  
  .alert {
    padding: 0.5rem 0.5rem;
    text-align: center;
  }

  #progressbar {
    margin-bottom: 30px;
    overflow: hidden;
}

#progressbar li {
    list-style-type: none;
    color: #99a2a8;
    font-size: 9px;
    float: left;
    position: relative;
    text-align: center;
    font-size: 12px;
}

#progressbar li:before {
    font-family: "Font Awesome 5 Free";
    content: "\f111";
    width: 50px;
    height: 50px;
    font-size: 25px;
    line-height: 50px;
    display: block;
    background: #eaf0f4;
    border-radius: 50%;
    margin: 0 auto 10px auto;
}

#progressbar li.active:before {
    content: "\f00c";
}

#progressbar li.active+li:before {
    content: "\f110";
    background-color: #ffc107;
    color: #fff;
    animation: 3s linear infinite spinner;
}

#progressbar li.active+li:after {
    background-color: #ffc107;
}

#progressbar li:after {
    content: "";
    width: 100%;
    height: 10px;
    background: #eaf0f4;
    position: absolute;
    left: -50%;
    top: 21px;
    z-index: -1;
}

#progressbar li:last-child:after {
    width: 150%;
}

#progressbar li.active {
    color: #5cb85c;
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: #5cb85c;
    color: white;
}

@keyframes spinner {
    to { transform: rotate(360deg); }
  }