/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

 .caution {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    margin: 1px 0 -1px 2px;
    padding: 0 5px;
    min-width: 18px;
    height: 18px;
    border-radius: 9px;
    background-color: #d63638;
    color: #fff;
    font-size: 11px;
    line-height: 1.6;
    text-align: center;
 }

 .notice, div.error, div.updated {
   margin: 5px 20px 5px 2px;
 }